<ul id="scorecard">
  <li>
    <div class="label">Tick</div>
    <div>#{{updateService.tick}}</div>
  </li>
  <li>
    <div class="label">Total Gen:</div>
    <div>{{dataService.total | trunc}}</div>
  </li>
  <li>
    <div class="label">Time:</div>
    <div>{{getElapsed()}}</div>
  </li>
  <li>
    <div class="label">Next Best:</div>
    <div>{{dataService.findBest().name}}</div>
  </li>
  <li class="spacer"></li>
  <li>
    <div class="label">Exotic Prod:</div>
    <div>{{dataService.exoticProd * 100 | trunc: 2}}%</div>
  </li>
  <li>
    <div class="label"># Exotic:</div>
    <div>{{dataService.currentExotic | trunc}}</div>
  </li>
  <li>
    <div class="label">Earnable:</div>
    <div>{{prestigeService.calcExotic(dataService.current) | trunc}}</div>
  </li>
  <li class="spacer"></li>
  <li>
    <div class="label">Void Prod:</div>
    <div>{{dataService.voidProd * 100 | trunc: 2}}%</div>
  </li>
  <li>
    <div class="label"># Void:</div>
    <div>{{dataService.currentVoid}}</div>
  </li>
  <li>
    <div class="label">Earnable:</div>
    <div>{{dataService.earnableVoid | trunc}}</div>
  </li>
</ul>
